/* You can add global styles to this file, and also import other style files */

body{
  background: #000 url("assets/img/dreamGarage.jpg") no-repeat fixed center;
  padding-bottom: 50px;
}

p, li, h2, h3{
  font-family: 'Cabin Sketch', cursive;
}

.container {
  background: rgba(255, 255, 255, .7);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(205, 255, 233, .7);
  padding: 5px;
}

.colored {
  background-color: rgba(205, 255, 233, .7);
}

#title {
  width: 556px;
  margin: 10px auto;
  display: block;
}

.credit {
  float: right;
  clear: all;
  position: fixed;
  bottom: 0;
  right: 0;
}

.navbar {
  border: 1px solid red;
}

h3 {
  font-family: 'Special Elite', cursive !important;
}

.about {
  height: 600px;
}

.samElliot {
  float: right;
  clear: all;
}

.bikes {
  border: 1px solid red;
  width: 300px;
  margin: 0 auto 20px;
}

.oilDrip {
  height: 68px;
  width: inherit;
  background: url("assets/img/dripBanner.png") repeat-x;
  float: left;
  clear: all;
  position: relative;
  top: 68px;
  left: -16px;
}
