<h3>Welcome to the club</h3>
<p>List of events:</p>
<ul>
  <li>Friday July 41st:
    <ul>
      <li>Pre-Ride maintenance: 7-10am</li>
      <li>GROUP RIDE: 11am</li>
    </ul>
  </li>
  <li>Friday August 7th:
    <ul>
      <li>Pre-Ride maintenance: 7-10am</li>
      <li>GROUP RIDE: 11am</li>
    </ul>
  </li>
  <li>Friday August 14th:
    <ul>
      <li>Pre-Ride maintenance: 7-10am</li>
      <li>GROUP RIDE: 11am</li>
    </ul>
  </li>
  <li>Friday August 21st:
    <ul>
      <li>Pre-Ride maintenance: 7-10am</li>
      <li>GROUP RIDE: 11am</li>
    </ul>
  </li>
  <li>Friday August 29th:
    <ul>
      <li>Pre-Ride maintenance: 7-10am</li>
      <li>GROUP RIDE: 11am</li>
    </ul>
  </li>
  <li>Friday September 4th:
    <ul>
      <li>Pre-Ride maintenance: 7-10am</li>
      <li>GROUP RIDE: 11am</li>
    </ul>
  </li>
  <li>Friday September 11th:
    <ul>
      <li>Pre-Ride maintenance: 7-10am</li>
      <li>GROUP RIDE: 11am</li>
    </ul>
  </li>
  <li>Friday September 18th:
    <ul>
      <li>Pre-Ride maintenance: 7-10am</li>
      <li>GROUP RIDE: 11am</li>
    </ul>
  </li>
  <li>Friday September 25th:
    <ul>
      <li>Spagetti Social: For the kids! Bring a family along, this is a charity event</li>
    </ul>
  </li>
</ul>
